<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954203444447-idg7haicm4e0nq8d13e5ca6v6eg0qhjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954203444447-idg7haicm4e0nq8d13e5ca6v6eg0qhjr</string>
	<key>API_KEY</key>
	<string>AIzaSyCQrXvbAgOOytj724IlSZDt4_YsiJbv-R0</string>
	<key>GCM_SENDER_ID</key>
	<string>954203444447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trident.flutterAppleSignin</string>
	<key>PROJECT_ID</key>
	<string>fir-app-c622e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-c622e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954203444447:ios:a6e51dbc660e65d4be056a</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-c622e.firebaseio.com</string>
</dict>
</plist>